body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  width: 10rem;
  display: block;
  margin: 6.25rem auto 0;
  font-size: 1.125rem;
  border-radius: 0.625px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: relative;
  top: 16.625rem;
  left: 1.5rem;
  background: #DAB773;
  width: 23.875rem;
  height: 25rem;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;
  text-decoration : underline;
  text-underline-position : under;
  font-size: 1rem;
  line-height: 2rem;
}
.myunderline1 {
  
  width: 21rem;
  
  left: 3rem;
  top: 20rem;
  font-style: normal;
  font-size: 1rem;
  line-height: 2rem;
 color: #060606;
}
/* .myunderline2 {
  position: relative;
  text-decoration : underline;
  text-underline-position : under;
  width: 21rem;
  height: 18rem;
  left: 3rem;
  top: 20rem;
  font-style: normal;
  
  font-size: 1rem;
  line-height: 2rem;
 color: #060606;
}  */

.close-modal {
  position: relative;
  top: 0.625rem;
  right: 0.625rem;
  padding: 5px 7px;
}
